In [2]:
import pandas as pd
import numpy as np
import datetime as dt

In [154]:
t = np.arange(dt.datetime(2018,1,1), dt.datetime(2018,4,1), dt.timedelta(days=7)).astype(dt.datetime)

In [155]:
len(t)

13

In [156]:
forecast = np.random.rand(13,1)
forecast = forecast*1000000
print(forecast)

[[659100.10348385]
 [774087.47889865]
 [532214.86904337]
 [274934.98045021]
 [787956.67331519]
 [600578.78641532]
 [519237.25146666]
 [573516.56638925]
 [944172.03829659]
 [354970.96073538]
 [368002.42703362]
 [605752.23206987]
 [255061.39075073]]

In [157]:
df = pd.DataFrame(forecast, index=t, columns=['forecast'])

In [28]:
df.index = pd.DatetimeIndex(df.index).to_period('W')

In [158]:
df.forecast

2018-01-01    659100.103484
2018-01-08    774087.478899
2018-01-15    532214.869043
2018-01-22    274934.980450
2018-01-29    787956.673315
2018-02-05    600578.786415
2018-02-12    519237.251467
2018-02-19    573516.566389
2018-02-26    944172.038297
2018-03-05    354970.960735
2018-03-12    368002.427034
2018-03-19    605752.232070
2018-03-26    255061.390751
Name: forecast, dtype: float64

In [125]:
ser = df.index.to_series()
serf = df.forecast
len(ser.dt.week)
print(type(serf))

<class 'pandas.core.series.Series'>

In [137]:
df.forecast.index.week

Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13], dtype='int64')

In [140]:
serf.values

array([387594.06187717, 908136.81418776, 350187.36489271, 640496.72989506,
       873714.15130662, 882438.9314872 , 326812.42071047, 690641.29668843,
       694035.28338526, 166365.27081169, 359727.82062607, 687994.85567076,
       715261.35412995])

In [160]:
_create_output(df.forecast, "Product_19")

13
13
13

       Product  Week          Units
0   Product_19     1  659100.103484
1   Product_19     2  774087.478899
2   Product_19     3  532214.869043
3   Product_19     4  274934.980450
4   Product_19     5  787956.673315
5   Product_19     6  600578.786415
6   Product_19     7  519237.251467
7   Product_19     8  573516.566389
8   Product_19     9  944172.038297
9   Product_19    10  354970.960735
10  Product_19    11  368002.427034
11  Product_19    12  605752.232070
12  Product_19    13  255061.390751

In [ ]:
[df1, df2, df3]

In [152]:
type(df.forecast.index)

pandas.core.indexes.period.PeriodIndex

In [159]:
def _create_output(series, product:str):
    '''
    Input series format: index is equalt to dates (datetime format); one column with floats
    Output df format: product 19-, week 1-13, units (forecast)
    '''
    weeks = series.index.week
    print(len(weeks))
    product_ = pd.Series([product]*len(weeks))
    print(len(product_))
    print(len(series.values))
    data = {'Product': product_, 'Week': weeks, 'Units': series.values}
    return pd.DataFrame(data, columns=data.keys())


def save_forecast(arr_of_dfs, filename='FORECAST_2018_Q1.xlsx'):
    # save in a directory 
    import os
    DIR = os.getcwd()
    if not os.path.exists(DIR):
        print("PROVIDE PATH TO FILE MANUALLY")
    FILE_NAME = filename
    PATH = os.path.join(DIR, FILE_NAME)
    
    # saving
    RES = pd.concat(arr_of_dfs, axis=0)
    RES.to_excel('FORECAST_2018_Q1.xlsx')
    print(f'SUCCESSFULLY SAVED IN {PATH}')